<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <title>Smurfers</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="images/logo.png" alt="">
            </div>
        </div>
    </div>
    <nav class="navbar bg-nav navbar-expand-lg navbar-dark">
        <div class="container">
            <button class="navbar-toggler" data-bs-target="#menu" data-bs-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Blogs</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Project</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Team Members</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Contact Us</a></li>
                </ul>
            </div>
            <span class="more-item">Scrolling down for more information</span>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row">
            <div class="col-6">
                <img src="images/AI-Square.jpg" alt="" class="w-100">
            </div>
            <div class="col-6 text-item">
                <h1>welcome to</h1>
                <h2>OUR GROUP PROJECT</h2>
                <h3>“AI Face Recognition + Software”.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud laboris nisi ut aliquip ex ea commodo. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
            </div>
        </div>
    </div>


    <!-- Add Ai detection here! -->
    <!-- @software -->



    <div class="container mt-5">
        <div class="row">
            <div class="col-12 section-title">
                <span>Main project</span>
                <h1>Our Product</h1>
            </div>
        </div>
    </div>
    
    <div class="container-fluid ai_detection">
        <div class="row">
        <div class="col-md-6">
        <h1>Camera</h1>
        </div>
        <div class="col-md-6">
            <h1>Attendance</h1>
        </div>
        </div>
        
    </div>
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 section-title">
                <h1>Our Team Members</h1>
            </div>
            <div class="col-4">
                <div class="blog-item">
                    <img src="images/h1.jpg" alt="" class="w-100">
                    <h3>Vũ Ngọc Quang</h3>
                    <h3>Software Designer</h3>
                </div>
            </div>
            <div class="col-4">
                <div class="blog-item">
                    <img src="images/h5.jpg" alt="" class="w-100">
                    <h3>Nguyễn Minh Trí</h3>
                    <h3>Software Designer</h3>
                </div>
            </div>
            <div class="col-4">
                <div class="blog-item">
                    <img src="images/h3.jpg" alt="" class="w-100">
                    <h3>Vũ Huy Hoàng</h3>
                    <h3>Software Designer</h3>
                </div>
            </div>
            <div class="col-3">
                <div class="blog-item">
                    <img src="images/h4.jpg" alt="" class="w-100">
                    <h3>Phạm Minh Hiếu</h3>
                    <h3>AI Data Collector</h3>
                </div>
            </div>
            <div class="col-3">
                <div class="blog-item">
                    <img src="images/h2.jpg" alt="" class="w-100">
                    <h3>Hồ Duy Phúc</h3>
                    <h3>AI Data Collector</h3>
                </div>
            </div>
            <div class="col-3">
                <div class="blog-item">
                    <img src="images/h7.jpg" alt="" class="w-100">
                    <h3>Trần Cao Thái</h3>
                    <h3>AI Data Collector</h3>
                </div>
            </div>
            <div class="col-3">
                <div class="blog-item">
                    <img src="images/h6.jpg" alt="" class="w-100">
                    <h3>Nguyễn Đình Chí Thiện</h3>
                    <h3>Database Research</h3>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container footer mt-5">
            <div class="row">
                <div class="col-4 footer-info">
                    <p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis, blandit vel.</p>
                </div>
                <div class="col-4 company">
                    <h1>SMURFERS</h1>
                    <ul class="social-icon d-flex justify-content-center">
                        <li><i class="fa-brands fa-facebook-f"></i></li>
                        <li><i class="fa-brands fa-twitter"></i></li>
                        <li><i class="fa-brands fa-instagram"></i></li>
                        <li><i class="fa-brands fa-tiktok"></i></li>
                    </ul>
                </div>
                <div class="col-4 content">
                    <h2>Vietnamese-German University</h2>
                    <h3>SMURFERS@EXAMPLE.COM</h3>
                    <p>Vành đai 4, Thới Hoà, Bến Cát, Bình Dương 75000</p>
                </div>
            </div>
        </div><div class="footer-bottom mt-4">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <p>Copyright ©smurfers.</p>
                    </div>
                    <div class="col-8 charg-icon">
                        <img src="images/icon1.jpg" alt="">
                        <img src="images/icon2.jpg" alt="">
                        <img src="images/icon3.jpg" alt="">
                        <img src="images/icon4.jpg" alt="">
                        <img src="images/icon5.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="js/jquery-3.6.1.min.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
</body>

</html>