<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/all.min.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Smurfers</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="/static/images/logo.png" alt="">
            </div>
        </div>
    </div>
    <nav class="navbar bg-nav navbar-expand-lg navbar-dark">
        <div class="container">
            <button class="navbar-toggler" data-bs-target="#menu" data-bs-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a href="{{url_for('index')}}" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="{{url_for('technologies')}}" class="nav-link">Ideas & Technologies</a></li>
                    <li class="nav-item"><a href="{{url_for('Timeline')}}" class="nav-link">Timeline</a></li>
                    <li class="nav-item"><a href="https://github.com/Quangoateo/Intro_CS_Project" class="nav-link">Git Hub</a></li>
                </ul>
            </div>
            <span class="more-item">Scrolling down </span>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row">
            <div class="col-6">
                <img src="/static/images/Idea.jpg" alt="" class="w-100">
            </div>
            <div class="col-6 text-item">
                <h1>How about building this project ? </h1>
                <h3>We as a team use multiple different technologies such as Flask,CV2,Javascript,Jquery... to build this project.</h>
                <img src="/static/images/project.png" alt="" class="w-100">
                <h2>Future Works</h2>
                <h3>We intend to apply our project for VGU Students ,especially for daily Bus checking system.</h3>
            </div>
        </div>
    </div> 
    <footer>
        <div class="container footer mt-5">
            <div class="row">
                <div class="col-4 footer-info">
                    <p>Please contact us before copying our pordudct!</p>
                </div>
                <div class="col-4 company">
                    <h1>SMURFERS</h1>
                    <ul class="social-icon d-flex justify-content-center">
                        <li><i class="fa-brands fa-facebook-f"></i></li>
                        <li><i class="fa-brands fa-twitter"></i></li>
                        <li><i class="fa-brands fa-instagram"></i></li>
                        <li><i class="fa-brands fa-tiktok"></i></li>
                    </ul>
                </div>
                <div class="col-4 content">
                    <h2>Vietnamese-German University</h2>
                    <h3>SMURFERS</h3>
                    <p>Vành đai 4, Thới Hoà, Bến Cát, Bình Dương 75000</p>
                </div>
            </div>
        </div>
        <div class="footer-bottom mt-4">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <p>Copyright©Smurfers  .</p>
                    </div>
                    <div class="col-8 charg-icon">
                        <img src="/static/images/icon1.jpg" alt="">
                        <img src="/static/images/icon2.jpg" alt="">
                        <img src="/static/images/icon3.jpg" alt="">
                        <img src="/static/images/icon4.jpg" alt="">
                        <img src="/static/images/icon5.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="/static/js/jquery-3.6.1.min.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
</body>

</html>